@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 3vh;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(118,200,212);
    background: linear-gradient(301deg, rgba(118,200,212,1) 8%, rgba(241,65,74,1) 96%);
}

.container{
    display: grid;
    /* grid-template-rows: repeat(2,1fr); */
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.upper{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background: rgb(255,255,255);
background: linear-gradient(47deg, rgba(255,255,255,1) 0%, rgba(241,65,74,1) 85%);
}
.lower{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: white;
    padding-bottom: auto;
}
.currency{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-items: center;
    height: 30vh;
}
input{
    font-family: inherit;
    border:0;
    border-bottom: 2px solid gray;
    background: transparent;
    margin: 4vh 0vh 4vh 4vh;
    font-size: 5vh;
    width: 40%;
    outline: 0;  
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
    font-size: 3vh;
    /* text-align: center; */
    font-family: inherit;
    outline: 0;
    border: 0;
    box-shadow: none;
    flex: 1;
    padding: 0 4em 0 0  ;
    color: black;
    background: none;
    cursor: pointer;
    margin: 20px;
    font-weight: 900;
}
.swap-button{
    text-align: center;
    font-size: 5vh;
}

@media(max-width:550px){
    .currency{
        grid-template-columns: unset;
    }
}